---
import { Image } from "astro:assets";
import "swiper/css/bundle";

interface Props {
  images: ReadonlyArray<string>;
  videoUrl?: string;
  class?: string;
  navigation?: boolean;
  pagination?: boolean;
  scrollbar?: boolean;
}

const {
  images,
  videoUrl,
  navigation = false,
  pagination = false,
  scrollbar = false,
} = Astro.props;
---

<div class:list={["swiper", Astro.props.class]}>
  <div class="swiper-wrapper">
    {
      videoUrl && (
        <div class="swiper-slide">
          <iframe
            title="Last Edition Video"
            class="w-full h-full"
            src={videoUrl}
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
            loading="lazy"
          />
        </div>
      )
    }
    {
      images.map((image) => (
        <div class="swiper-slide">
          <Image
            src={image}
            class="w-full"
            alt="Event picture"
            width="800"
            height="550"
          />
        </div>
      ))
    }
  </div>
  {pagination && <div class="swiper-pagination" data-umami-event="carousel_pagination_click" />}

  {
    navigation && (
      <>
        <div class="swiper-button-prev" data-umami-event="carousel_prev_click" />
        <div class="swiper-button-next" data-umami-event="carousel_next_click" />
      </>
    )
  }

  {scrollbar && <div class="swiper-scrollbar" />}
</div>
<script>
  import Swiper from "swiper/bundle";

  function init() {
    const swiper = new Swiper(".swiper", {
      loop: true,
      pagination: {
        el: ".swiper-pagination",
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      scrollbar: {
        el: ".swiper-scrollbar",
      },
    });
  }

  document.addEventListener("astro:page-load", init);
</script>
