---
import { Image } from "astro:assets";
import { DATA } from "../data/data";
import DarkModeToggleButton from "./DarkModeToggleButton.astro";
import PretixBuyButton from "./PretixBuyButton.astro";

const featuredSponsors = DATA.sponsors.filter(
  (sponsor) => sponsor.tier === "gold" && sponsor.hasFeaturedPage,
);
---

<nav
  id="top"
  class="flex flex-col gap-4 sm:gap-0 items-center w-full mx-auto max-w-[2000px] px-8 py-5 md:px-16 md:py-10 text-lg text-dark-background dark:text-light-background bg-white dark:bg-dark-background"
>
  <div class="flex flex-row gap-2 items-center justify-between w-full">
    <div
      class="w-full max-w-[150px] sm:max-w-[180px] md:max-w-[200px] max-xl:z-30"
    >
      <a aria-label="Go to Home Page" href="/#top" data-umami-event="nav_logo_click" class="h-10">
        <Image
          src="/logo.svg"
          alt={`Logo of ${DATA.title}`}
          class="brightness-100 dark:invert"
          height="40"
          width="200"
          loading="eager"
        />
      </a>
    </div>
    <div
      id="menu"
      class="w-full md:w-fit max-w-[900px] h-full ml-auto max-xl:fixed max-xl:top-0 max-xl:right-0 max-xl:z-40 max-xl:p-4 max-xl:overflow-y-auto transition-transform max-xl:translate-x-full max-xl:bg-white max-xl:dark:bg-dark-background max-xl:duration-0"
      tabindex="-1"
    >
      <ul
        class="flex justify-evenly xl:gap-2 max-xl:gap-8 max-xl:mt-28 text-sm max-xl:flex-col xl:flex-row font-bold"
      >
        {
          !!DATA.sponsorsDossier.enabled && (
            <li class="mx-auto">
              <a
                aria-label="Go to Sponsors Dossier"
                href="/#callForSponsors"
                data-umami-event="sponsor_cta_click"
                class="px-3 h-full cursor-pointer grid place-content-center hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg w-fit"
              >
                <span class="animate-bounce">Quiero patrocinar</span>
              </a>
            </li>
          )
        }
        {
          !!DATA.schedule.length && (
            <li class="mx-auto">
              <a
                aria-label="Go to Schedule"
                href="/#schedule"
                data-umami-event="nav_schedule_click"
                class="px-3 h-full cursor-pointer grid place-content-center hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg w-fit"
              >
                Schedule
              </a>
            </li>
          )
        }
        {
          !!DATA.speakers.length && (
            <li class="mx-auto">
              <a
                aria-label="Go to Speakers"
                href="/#speakers"
                data-umami-event="nav_speakers_click"
                class="px-3 h-full cursor-pointer grid place-content-center hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg w-fit"
              >
                Speakers
              </a>
            </li>
          )
        }
        {
          !!DATA.raffles.length && (
            <li class="mx-auto">
              <a
                aria-label="Go to Raffles Page"
                href="/raffles#top"
                data-umami-event="nav_raffles_click"
                class="px-3 h-full cursor-pointer grid place-content-center hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg w-fit"
              >
                Sorteos
              </a>
            </li>
          )
        }
        {
          !!DATA.faq.length && (
            <li class="mx-auto">
              <a
                aria-label="Go to FAQ"
                href="/#faq"
                data-umami-event="nav_faq_click"
                class="px-3 h-full cursor-pointer grid place-content-center hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg w-fit"
              >
                FAQ
              </a>
            </li>
          )
        }
        {
          featuredSponsors.map((sponsor) => (
            <li class="mx-auto">
              <a
                aria-label={`Go to ${sponsor.name} Page`}
                href={`/sponsor/${sponsor.name}#top`}
                data-umami-event="nav_sponsor_click"
                class="px-3 h-full cursor-pointer grid place-content-center hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg w-fit"
              >
                Meet {sponsor.name}
              </a>
            </li>
          ))
        }
        <li
          class="mx-auto cursor-pointer grid place-content-center hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg w-fit"
        >
          <PretixBuyButton
            class="text-white p-2 rounded-lg bg-green-600 hover:bg-green-400 dark:bg-blue-600 dark:hover:bg-blue-400 transition-colors"
          />
        </li>
        <li class="grid place-items-center">
          <DarkModeToggleButton />
        </li>
      </ul>
    </div>

    <div class="flex justify-evenly gap-2 z-40">
      <div id="burger-button-ticket-shortcut">
        <PretixBuyButton
          class="text-sm hidden sm:block xl:hidden text-white p-2 rounded-lg bg-green-600 hover:bg-green-400 dark:bg-blue-600 dark:hover:bg-blue-400 transition-colors"
        />
      </div>
      <button id="menu-button" class="xl:hidden" data-umami-event="menu_toggle_click" aria-label="Abrir menú">
        <i class="ph ph-list text-3xl"></i>
      </button>
    </div>
  </div>
  <div>
    <PretixBuyButton
      class="text-sm sm:hidden text-white p-2 rounded-lg bg-green-600 hover:bg-green-400 dark:bg-blue-600 dark:hover:bg-blue-400 transition-colors"
    />
  </div>
</nav>
<div
  id="drawer-menu-backdrop"
  aria-hidden="true"
  class="hidden bg-gray-900/50 dark:bg-dark-background-40 fixed inset-0 z-30"
>
</div>
<script>
  function isMenuOpen(button: Element) {
    return !!button.attributes.getNamedItem("expanded");
  }

  function toggleMenu(
    button: Element,
    menu: Element,
    backdrop: Element,
    ticketShortcut: Element,
  ) {
    if (isMenuOpen(button)) {
      closeMenu(button, menu, backdrop, ticketShortcut);
    } else {
      openMenu(button, menu, backdrop, ticketShortcut);
    }
  }

  function openMenu(
    button: Element,
    menu: Element,
    backdrop: Element,
    ticketShortcut: Element,
  ) {
    backdrop?.classList.remove("hidden");
    ticketShortcut?.classList.add("hidden");

    menu?.classList.remove("max-xl:hidden");
    menu?.classList.remove("drawer-close-transition");
    menu?.classList.add("drawer-open-transition");

    menu?.setAttribute("aria-modal", "true");
    menu?.setAttribute("role", "dialog");

    button.innerHTML = `<i class="ph ph-x text-3xl"></i>`;
    button.setAttribute("expanded", "true");
    button.setAttribute("aria-label", "Cerrar menú");
    if (window.innerWidth <= 1280) {
      document.body.classList.add("overflow-hidden");
    }
  }

  function closeMenu(
    button: Element,
    menu: Element,
    backdrop: Element,
    ticketShortcut: Element,
  ) {
    backdrop?.classList.add("hidden");
    ticketShortcut?.classList.remove("hidden");

    menu?.classList.add("drawer-close-transition");
    menu?.classList.remove("drawer-open-transition");

    menu?.removeAttribute("aria-modal");
    menu?.removeAttribute("role");

    button.removeAttribute("expanded");
    button.innerHTML = `<i class="ph ph-list text-3xl"></i>`;
    button.setAttribute("aria-label", "Abrir menú");

    if (window.innerWidth <= 1280) {
      document.body.classList.remove("overflow-hidden");
    }
  }

  function listenDrawerButton() {
    const button = document.querySelector("#menu-button"); // Hamburger Icon
    const menu = document.querySelector("#menu"); // Menu
    const backdrop = document.querySelector("#drawer-menu-backdrop"); // Menu
    const ticketShortcut = document.querySelector(
      "#burger-button-ticket-shortcut",
    );
    if (!menu || !button || !backdrop || !ticketShortcut) {
      return;
    }

    button?.addEventListener("click", () => {
      toggleMenu(button, menu, backdrop, ticketShortcut);
    });

    document.querySelectorAll("nav ul > li > a").forEach((elem) =>
      elem.addEventListener("click", () => {
        closeMenu(button, menu, backdrop, ticketShortcut);
      }),
    ); // Menu

    window.addEventListener("resize", () => {
      if (window.innerWidth >= 1280 && isMenuOpen(button)) {
        closeMenu(button, menu, backdrop, ticketShortcut);
      }
    }); // On resize with open drawer

    backdrop.addEventListener("click", () =>
      closeMenu(button, menu, backdrop, ticketShortcut),
    );
  }

  function init() {
    listenDrawerButton();
  }

  document.addEventListener("astro:page-load", init);
</script>

<style>
  @media (min-width: 501px) {
    .drawer-open-transition {
      transition-duration: 500ms;
      transform: translate(0, 0);
    }
  }

  @media (max-width: 500px) {
    .drawer-open-transition {
      opacity: 1;
      transform: translate(0, 0);
      transition:
        opacity 0.3s ease-in-out,
        transform 0ms ease-in-out;
    }

    .drawer-close-transition {
      opacity: 0;
      transition:
        opacity 0.25s ease-in-out,
        transform 0ms ease-in-out 0.25s;
    }
  }
</style>
